html, body{
  margin: 0;
  padding: 40px 20px;
  font:16px Helvetica, Sans-Serif;
}

header > div{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

hgroup{
  float: left;
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 120px;
}

header figure{
  position: absolute;
  right: 20px;
}

header figure img{
  transform: rotate(-12deg);
  width: 180px;
  height: 180px;
}

header h2 {
  display: none;
}

/*   */

.content{
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

section {
  
  float: left;
  margin-bottom: 30px;
  padding: 0px 160px 0px 0px;
}

h3 {
  
  top: 0;
  left: 0;
  width: 150px;
  margin-right: 10px;
  font-style: italic;
  height: 100%;
  border-right: 1px solid black;
}

/* about */

#about{
  max-width: 640px;
  margin-bottom: 90px;
  color: #aaa;
  font-style: italic;
  text-align: justify;
  padding-left: 0;
}
#about > h3{
  display: none;
}

/* competencies */

.skills{
  padding-top: 15px;
}

.skill{
  width: 120px;
  background-color: rgb(59, 165, 165);
  color: aliceblue;
  float: left;
  margin: 5px;
  height: 2em;
}

.skill span{
  width: 120px;
  display: inline-block;
}
.skill span::after {
  content: "";
  color: white;
  display: block;
  float: right;
}

.skills-primary .skill {
  font-size: 1.2em;
}

.skills-secondary .skill {
  font-size: 0.7em;
}

.skill[data-skill="1"] span::after {
  content: "★";
}
.skill[data-skill="1"] span::after {
  content: "★";
}
.skill[data-skill="2"] span::after {
  content: "★★";
}
.skill[data-skill="3"] span::after {
  content: "★★";
}
.skill[data-skill="4"] span::after {
  content: "★★★";
}
.skill[data-skill="5"] span::after {
  content: "★★★";
}
.skill[data-skill="6"] span::after {
  content: "★★★★";
}
.skill[data-skill="7"] span::after {
  content: "★★★★";
}
.skill[data-skill="8"] span::after {
  content: "★★★★★";
}
.skill[data-skill="9"] span::after {
  content: "★★★★★";
}
.skill[data-skill="10"]span::after {
  content: "★★★★★";
}

/* Experience */
.experience h4{
  float: left;
  color: teal;
  margin-bottom: 3px;
}

.experience p{
  float: left;
  text-align: justify;
}

.experience-details {
  color: #999;
  float: right;
  margin-top: 18px;
}
.experience-type {
  font-weight: bold;
}
.experience-institution {
  display: none;
}

.experience-date-separator {
  color: teal;
}

/* contact */
#contact{
  align-content: center;
}
#contact h3{
  display: none;
}

.contact {
  margin: 0;
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
  float: left;
  display: block;
  margin: 3px;
}

.contact:hover {
  background-color: teal;
}

.contact-type,
.contact-value {
  display: block;
  float: left;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contact-type {
  display: none;
}

.contact-value a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.contact-skype {
  display: none;
}

.contact-phone {
  background-image: url("../images/phone.png");
}
.contact-email {
  background-image: url("../images/email.png");
}
.contact-github {
  background-image: url("../images/github.png");
}
.contact-facebook {
  background-image: url("../images/facebook.png");
}

/* media */
@media only screen and (max-width: 650px) {
  header figure {
    display: none;
  }
  section {
    padding-left: 0;
  }
  h3 {
    position: static;
    border-right: none;
    border-bottom: 1px solid black;
  }
}
