html, body{
  margin: 0;
  padding: 40px 20px;
  font:18px "Playfair Display", "Indie Flower", Sans-Serif;
}

header > div{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  background-color: aliceblue;
}

hgroup{
float: right;
width: 60%;
height: 120px;
}

header figure{
  position: relative;
  top: 0px;
  left: 0px;
}

header figure img{
  transform: rotate(-12deg);
  width: 180px;
  height: 180px;
  border-radius: 90%;
}


/*   */

.content{
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

section {

  margin-bottom: 30px;
  padding: 0px 160px 0px 0px;
}
section > div{
  float: left;
  padding: 2px 10px;
}

h3 {
  top: 0;
  left: 0;
  width: 150px;
  margin-right: 10px;
  font-style: italic;
  height: 100%;
  border-bottom: 3px solid aliceblue;
}

/* about */

#about{
  order: 1;
  border-top: 2px solid aliceblue;

  margin-bottom: 90px;
  color: #777;
  font-style: italic;
  text-align: justify;
  padding-left: 2px;
}
#about > h3{
  display: none;
}

/* competencies */
#competencies{
  position: inherit;
}

.skills{
  padding-top: 5px 0px;
}

.skill{
  width: 130px;
  float: left;
  background:aliceblue;
  color: blue;
  margin: 5px;
  height: 25px;
}

.skill span{
  /*width: 120px;*/
  background: rgb(146, 164, 180);
  display: inline-block;
  text-align: center;
  border-radius: 30%;
}

.skill[data-skill="1"] span{
  width: 10%;
}
.skill[data-skill="2"] span{
  width: 20%;
}
.skill[data-skill="3"] span{
  width: 30%;
}
.skill[data-skill="4"] span{
  width: 40%;
}
.skill[data-skill="5"] span{
  width: 50%;
}
.skill[data-skill="6"] span{
  width: 60%;
}.skill[data-skill="7"] span{
  width: 70%;
}.skill[data-skill="8"] span{
  width: 80%;
}.skill[data-skill="9"] span{
  width: 90%;
}.skill[data-skill="10"] span{
  width: 100%;
}

.skills-primary .skill {
  font-size: 1.1em;
}

.skills-secondary .skill {
  font-size: 0.9em;
}


/* Experience */

.experience{
  border-left: 1em solid aliceblue;
  float: left;
}

.experience h4{
  color: darkgreen;
  margin-bottom: 3px;
}

.experience p{
  text-align: justify;
}

.experience-details {
  color: grey;
  margin-top: 18px;
}
.experience-type {
  font-weight: bold;
}
/*
.experience-institution {
  display: none;
}
*/
.experience-description{
padding: inherit;
}
.experience-date-separator {
  color: darkgreen;
}
/*education*/

#education .experience{
display: inline-block;
}

#education .experience-details {
  color: grey;
  margin-top: 18px;
}

/* hobbies*/
#hobbies > ul{
  margin: 10px;
  color: tomato;
}

/* contact */
#contact{
  align-content: center;
}

#contact h3{
  display: none;
}

.contact {
  margin: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
  float: left;
  display: block;
  margin: 3px;
}

.contact:hover {
  background-color: teal;
}

.contact-type,
.contact-value {
  display: block;
  float: left;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contact-type {
  display: none;
}

.contact-value a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.contact-skype {
  display: none;
}

.contact-phone {
  background-image: url("../images/phone.png");
}
.contact-email {
  background-image: url("../images/email.png");
}
.contact-github {
  background-image: url("../images/github.png");
}
.contact-facebook {
  background-image: url("../images/facebook.png");
}

/* media */
@media only screen and (max-width: 650px) {
  header hgroup{
    margin-left: 15px 15px;  
  }
  #about{
    text-align: left;
  }
  header figure {
    display: none;
  }
  section {
    padding-left: 0;
  }
  h3 {
    position: static;
  }
}
