
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background:grey;
    top: 0;
    color: red;
    position: fixed;
    padding: 20px 0px;
    vertical-align: baseline;
}


header h1,
header h2,
header figure {
  margin: 0;
}

header > div{
    max-width: 960px;
}

header hgroup{
    float: left;
    margin: 0 30px;
}

.content{
    padding: 200px 20px 20px 20px;
    max-width: 960px;
}

section{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

h3{
    border-bottom:1px solid grey;
    padding-bottom:10px;
    margin-bottom:10px;
  }
  
  h3::before{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background:red;
    margin-right:5px;
    border-radius: 50%;
  }
  
  /** competencies section **/
  .skill{
    background: #aaaaaa;
    padding: 4px;
    margin: 2px;
}

  .skill span{
      background: red;
      display: block;
      padding: 4px;
      color: aliceblue;
      line-height: 1;
  }
  
  .skills-primary::before{
        margin-top:10px;
        display: inline-block;
        content:"Main"
    }
    
    .skills-secondary::before{
        margin-top:10px;
        display: inline-block;
        content:"Other"
    }
 
    .skill[data-skill="5"] span{width:50%;}
    .skill[data-skill="3"] span{width:30%;}
    .skill[data-skill="1"] span{width:10%;}
    .skill[data-skill="9"] span{width:90%;}
    .skill[data-skill="7"] span{width:70%;}

.skill[data-skill="2"] span{width:20%;}
.skill[data-skill="4"] span{width:40%;}
.skill[data-skill="6"] span{width:60%;}
.skill[data-skill="8"] span{width:80%;}
.skill[data-skill="10"] span{width:100%;}

/** Expience section **/
.experience h4{
    color:red;
    margin-bottom:3px;
  }
  .experience-details{
    color:#999;
    margin-left:10px;
  }
  .experience-type{
    font-weight:bold; 
  }
  .experience-institution{
    font-weight: normal;
  }
  .experience-institution::before{
    content:"@ ";
  }
  .experience-location::before{
    content:"In"
  }
  .experience-date::before{
    content:" on "
  }
  .experience-date-separator{
    color:red;
  }

/** contacts section **/
#contact{
    position:fixed;
    top:10px;
    right:10px;
    background: black;
  }

#contact h3{
    display: none;
  }
  
  .contact{
    margin:0;
  }
  
  .contact-type,.contact-value{
    display:inline-block;
    margin:0;
    padding:3px;
    color:red;
  }
  
  .contact-type{
    width:150px;
    background:red;
    color:white;
  }
  
  .contact-value a{
    text-decoration: none;
    color:red;
  }

/** MEDIA PART **/
  @media only screen and (max-width: 960px) {
    section{
      width:100%;
    }
  }
  
  @media only screen and (max-width: 450px) {
    header{
      height:300px;
      text-align: center;
      vertical-align: middle;
    }
    hgroup{
      width:100%;
    }
    .content{
      padding-top:350px;
    }
    #contact{
        position:static;
        top:auto;
        right:auto;
        background:transparent;
      }
      #contact h3{
        display:block;
      }
  }
